models/SSKODDforScenarioForm.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
	<teiHeader>
		<fileDesc>
			<titleStmt>
				<title>SSK spec for form creation with the TEIMETA tool</title>
				<author>
					<name>Charles Riondet</name>
				</author>
			</titleStmt>
			<publicationStmt>
				<p/>
			</publicationStmt>
			<notesStmt>
				<note type="ns">http://www.example.org/ns/nonTEI</note>
			</notesStmt>
			<sourceDesc>
				<p>adapted from
					https://github.com/christopheparisse/teimeta/blob/master/models/ODD_Meta_niveau0_V17.odd</p>
			</sourceDesc>
		</fileDesc>
	</teiHeader>
	<text>
		<body>
			<schemaSpec ident="TEI_SSK" start="TEI" ns="http://www.tei-c.org/ns/1.0">
				<!-- ajouter teiCorpus par la suite si collections -->
				<moduleRef key="core"
					include="abbr addrLine address analytic author bibl biblScope biblStruct date desc editor email expan graphic head imprint item label lb list media meeting monogr name p postBox postCode pubPlace publisher ref resp respStmt series street term"/>
				<moduleRef key="tei"/>
				<moduleRef key="header"/>
				<moduleRef key="textstructure"/>
				<moduleRef key="namesdates"/>
				<moduleRef key="linking"/>
				<moduleRef key="tagdocs"/>
				<moduleRef key="figures"/>

				<!-- structure generale TEI -->
				<elementSpec ident="TEI" module="textstructure">
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="teiHeader"/>
							<elementRef key="text"/>
						</sequence>
					</content>
					<attList>
						<attDef ident="type"  mode="change">
							<datatype>
								<dataRef key="teidata.enumerated"/>
							</datatype>
							<defaultVal>researchScenario</defaultVal>
						</attDef>
						<!--<attDef ident="xml:id" usage="req">
							<datatype>
								<dataRef key="anyURI"/>
							</datatype>
						</attDef>-->
					</attList>
				</elementSpec>

				<!-- structure generale teiHeader -->
				<elementSpec ident="teiHeader" module="header" mode="change">
					<content>
						<!--<sequence minOccurs="1" maxOccurs="1">-->
							<elementRef key="fileDesc"/>
							<!--<elementRef key="encodingDesc"/>
							<elementRef key="revisionDesc"/>-->
						<!--</sequence>-->
					</content>
				</elementSpec>

				<!--<elementSpec ident="revisionDesc">
					<desc>Revision history</desc>
					<content>
						<elementRef key="change"/>
					</content>
				</elementSpec>
				
				<elementSpec ident="change"/>

				<elementSpec ident="encodingDesc">
					<desc>Information about the zotero libraries used (internal information)</desc>
				</elementSpec>-->

				<elementSpec ident="fileDesc" module="header">
					<desc xml:lang="fr">Titre, citation, diffusion et données primaires ~ signal
						audio/vidéo</desc>
					<desc xml:lang="en">Title, citation, diffusion and primary data ~ signal
						audio/vidéo</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<elementRef key="titleStmt"/>
							<elementRef key="publicationStmt"/>
							<!--<elementRef key="sourceDesc"/>-->
						</sequence>
					</content>
				</elementSpec>


				<!-- titleStmt : un principal, de 0 à n respStmt (collecteur, transcripteur, collecteur, ...) -->
				<elementSpec ident="titleStmt" module="header" mode="change" n="1">
					<desc xml:lang="fr">La ressource: titre, description, citation, responsable,
						contributeurs</desc>
					<desc xml:lang="en">Resource : Title, description, citation, responsible,
						contributors</desc>
					<content>
						<elementRef key="title" minOccurs="1" maxOccurs="1"/>
						<elementRef key="author" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<!-- Author description-->
				<elementSpec ident="author" module="core">
					<content>
						<elementRef key="persName"/>
						<elementRef key="affiliation"/>
					</content>
				</elementSpec>

				<!-- Author Affiliation-->
				<elementSpec ident="affiliation">
					<desc>Author's affiliation </desc>
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<!-- Title -->
				<elementSpec ident="title" module="core" mode="change">
					<desc xml:lang="fr"> Titre, description, citation</desc>
					<desc xml:lang="en"> Title, description, citation</desc>
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<!-- publicationStmt -->
				<elementSpec ident="publicationStmt" module="header" mode="change" n="1">
					<desc xml:lang="fr">Diffusion : identifiant unique, diffusion, sites web,
						licence</desc>
					<desc xml:lang="en">Diffusion : handle, publisher, pubPlace, license</desc>
					<content>
						<elementRef key="authority"/>
						<!-- carole à vérifier avec Loïc : zero car je ne suis pas sure que chaque ressource aura un handle si elle n'est pas ds ortolang ou cocoon,
	  					more:la même ressource peut avoir plusieurs handles si déposée sur plusieurs plateformes
		  				pas de type car handle alphanum + certains caractères spéciaux ? -->
						<elementRef key="availability" minOccurs="1" maxOccurs="unbounded"/>
					</content>
				</elementSpec>

				<!-- availability -->
				<elementSpec ident="availability" module="header">
					<desc xml:lang="en">Conditions of distribution</desc>
					<desc xml:lang="fr">Conditions de diffusion</desc>
					<content>
						<elementRef key="licence" minOccurs="1" maxOccurs="1"/>
					</content>
					<attList>
						<!-- value=restricted car une creative common telle qu'elle soit-->
						<attDef ident="status" usage="req" mode="change" rend="restricted">
							<valList>
								<valItem ident="restricted"/>
							</valList>
						</attDef>
					</attList>
				</elementSpec>


				<!-- Licence -->
				<elementSpec ident="licence" module="header">
					<desc xml:lang="fr">License</desc>
					<desc xml:lang="fr">Licence</desc>
					<content>
						<elementRef key="p" minOccurs="1" maxOccurs="1"/>
					</content>
					<attList>
						<attDef ident="target">
							<datatype>
								<dataRef key="anyURI"/>
							</datatype>
							<valList>
								<valItem ident="http://creativecommons.org/licenses/by/4.0/">
									<desc>The Creative Commons Attribution 4.0 Unported (CC BY 4.0)
										Licence applies to this document.</desc>
								</valItem>
								<valItem ident="https://creativecommons.org/licenses/by-sa/4.0">
									<desc>The Creative Commons Attribution share alike 4.0 Unported
										(CC BY 4.0) Licence applies to this document.</desc>
								</valItem>
								<valItem ident="https://creativecommons.org/licenses/by-nc/4.0">
									<desc>The Creative Commons Attribution Non commercial 4.0
										Unported (CC BY 4.0) Licence applies to this
										document.</desc>
								</valItem>
								<valItem ident="https://creativecommons.org/publicdomain/zero/1.0">
									<desc>No Copyright.</desc>
								</valItem>
							</valList>
						</attDef>
					</attList>
				</elementSpec>


				<!-- authority -->
				<elementSpec ident="authority">
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<!-- Text Part  -->
				<elementSpec ident="text" module="textstructure">
					<content>
							<elementRef key="body"/>
					</content>
				</elementSpec>


				<!--<elementSpec ident="body" module="textstructure">
					<content>
						<elementRef key="listEvent"/>
					</content>
				</elementSpec>-->

				<!--Body of a scenario-->
				<elementSpec ident="body" module="textstructure">
					<content>
						<elementRef key="div"/>
					</content>
				</elementSpec>

				<!--div-->
				<elementSpec ident="div" module="textstructure">
					<content>
							<elementRef key="head" minOccurs="0" maxOccurs="1" />
							<elementRef key="desc" corresp="definition" minOccurs="0" maxOccurs="1" />
							<elementRef key="desc" corresp="terms" minOccurs="1" maxOccurs="1" />
						<!--<sequence minOccurs="1" maxOccurs="1">-->
							<elementRef key="figure"/>
						<!--</sequence>-->
					</content>
				</elementSpec>

				<!--head-->
				<elementSpec ident="head">
					<desc>Head or title of  of the scenario</desc>
					<content>
						<textNode/>
					</content>
					<attList>
						<attDef ident="xml:lang" usage="req" mode="change">
							<datatype>
								<dataRef key="teidata.language"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>

				<!--Desc - definition-->
				<elementSpec ident="desc" corresp="definition">
					<desc>Description of the scenario</desc>
					<content>
						<alternate>
							<textNode/>
							<elementRef key="list"  minOccurs="0" maxOccurs="unbounded"/>
							<elementRef key="ref" corresp="descRef" minOccurs="0" maxOccurs="unbounded"/>
							<elementRef key="abbr" minOccurs="0" maxOccurs="unbounded"/>
							<elementRef key="expan" minOccurs="0" maxOccurs="unbounded"/>
						</alternate>
					</content>
					<attList>
						<attDef ident="type"  mode="change">
							<desc>Description of the scenario</desc>
							<defaultVal>definition</defaultVal>
						</attDef>
						<!-- @xml:lang is required -->
						<attDef ident="xml:lang" usage="req" mode="change">
							<datatype>
								<dataRef key="teidata.language"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="ref" corresp="descRef">
					<content>
						<alternate>
							<textNode/>
							<elementRef key="list" minOccurs="0"/>
							<elementRef key="abbr" minOccurs="0"/>
							<elementRef key="expan" minOccurs="0"/>
						</alternate>
					</content>
					<attList>
						<attDef ident="target">
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>

				<!--Desc - terms-->
				<elementSpec ident="desc" corresp="terms">
					<desc>List of scenario's terms</desc>
					<content>
						<elementRef key="term" corresp="disciplines" minOccurs="1" maxOccurs="4" />
						<elementRef key="term" corresp="objects" minOccurs="1" maxOccurs="4" />
						<elementRef key="term" corresp="techniques" minOccurs="1" maxOccurs="4" />
					</content>
				</elementSpec>

				<!--Disciplines list-->
				<elementSpec ident="term" corresp="disciplines">
					<desc>Disciplines cover all the domains from the Humanities, Social Sciences and
						Heritage science. Scenarios may apply to one or more disciplines.
					</desc>
					<attList>
						<attDef ident="key">
							<desc>The term itself</desc>
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
							<valList>
								<valItem ident="Archaeology and Prehistory"/>
								<valItem ident="Architecture, space management"/>
								<valItem ident="Art and art history"/>
								<valItem ident="Biological anthropology"/>
								<valItem ident="Classical studies"/>
								<valItem ident="Communication sciences"/>
								<valItem ident="Cultural heritage and museology"/>
								<valItem ident="Demography"/>
								<valItem ident="Economies and finances"/>
								<valItem ident="Education"/>
								<valItem ident="Environmental studies"/>
								<valItem ident="Gender studies"/>
								<valItem ident="Geography"/>
								<valItem ident="History"/>
								<valItem ident="History, Philosophy and Sociology of Sciences"/>
								<valItem ident="Law"/>
								<valItem ident="Linguistics"/>
								<valItem ident="Literature"/>
								<valItem ident="Management"/>
								<valItem ident="Methods and statistics"/>
								<valItem ident="Musicology and performing arts"/>
								<valItem ident="Philosophy"/>
								<valItem ident="Political science"/>
								<valItem ident="Psychology"/>
								<valItem ident="Religions"/>
								<valItem ident="Social Anthropology and ethnology"/>
								<valItem ident="Sociology "/>
							</valList>
						</attDef>
						<attDef ident="source">
							<desc>The thesaurus used</desc>
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
							<defaultVal>AureHal</defaultVal>
						</attDef>
						<attDef ident="type">
							<desc>The type of the term</desc>
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
							<defaultVal>discipline</defaultVal>
						</attDef>
					</attList>
				</elementSpec>


				<!--Object list-->
				<elementSpec ident="term" corresp="objects">
					<desc>Research objects are the different types of data produced, studied or
						manipulated in a scenario. Scenarios may apply to one or more research
						objects. 
					</desc>
					<attList>
						<attDef ident="key">
							<desc>The term itself</desc>
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
							<valList>
								<valItem ident="Artifacts"/>
								<valItem ident="Bibliographic Listings"/>
								<valItem ident="Code"/>
								<valItem ident="Computers"/>
								<valItem ident="Curricula"/>
								<valItem ident="Digital Humanities"/>
								<valItem ident="Data"/>
								<valItem ident="File"/>
								<valItem ident="Images"/>
								<valItem ident="Images (3D)"/>
								<valItem ident="Infrastructure"/>
								<valItem ident="Interaction"/>
								<valItem ident="Language"/>
								<valItem ident="Link"/>
								<valItem ident="Literature"/>
								<valItem ident="Manuscript"/>
								<valItem ident="Map"/>
								<valItem ident="Metadata"/>
								<valItem ident="Methods"/>
								<valItem ident="Multimedia"/>
								<valItem ident="Multimodal"/>
								<valItem ident="Named Entities"/>
								<valItem ident="Persons"/>
								<valItem ident="Projects"/>
								<valItem ident="Research"/>
								<valItem ident="Research Process"/>
								<valItem ident="Research Results"/>
								<valItem ident="Sheet Music"/>
								<valItem ident="Software"/>
								<valItem ident="Sound"/>
								<valItem ident="Standards"/>
								<valItem ident="Text"/>
								<valItem ident="Text Bearing Objects"/>
								<valItem ident="Tools"/>
								<valItem ident="Video"/>
								<valItem ident="VREs"/>
							</valList>
						</attDef>
						<attDef ident="source">
							<desc>The thesaurus used</desc>
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
							<defaultVal>TaDiRAH</defaultVal>
						</attDef>
						<attDef ident="type">
							<desc>The type of the term</desc>
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
							<defaultVal>object</defaultVal>
						</attDef>
					</attList>
				</elementSpec>


				<!--Technique's list-->
				<elementSpec ident="term" corresp="techniques">
					<desc>Research techniques are the general processes and methods used in a
						scenario. Scenarios may use one or more research techniques.</desc>
					<attList>
						<attDef ident="key">
							<desc>The term itself</desc>
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
							<valList>
								<valItem ident="Bit Stream Preservation"/>
								<valItem ident="Brainstorming"/>
								<valItem ident="Browsing"/>
								<valItem ident="Cluster Analysis"/>
								<valItem ident="Collocation Analysis"/>
								<valItem ident="Commenting"/>
								<valItem ident="Concordancing"/>
								<valItem ident="Debugging"/>
								<valItem ident="Distance Measures"/>
								<valItem ident="Durable Persistent Media"/>
								<valItem ident="Emulation"/>
								<valItem ident="Encoding"/>
								<valItem ident="Gamification"/>
								<valItem ident="Georeferencing"/>
								<valItem ident="Information Retrieval"/>
								<valItem ident="Linked Open Data"/>
								<valItem ident="Machine Learning"/>
								<valItem ident="Mapping"/>
								<valItem ident="Migration"/>
								<valItem ident="Named Entity Recognition"/>
								<valItem ident="Open Archival Information Systems"/>
								<valItem ident="Pattern Recognition"/>
								<valItem ident="Photography"/>
								<valItem ident="POS-Tagging"/>
								<valItem ident="Preservation Metadata"/>
								<valItem ident="Principal Component Analysis"/>
								<valItem ident="Replication"/>
								<valItem ident="Scanning"/>
								<valItem ident="Searching"/>
								<valItem ident="Sentiment Analysis"/>
								<valItem ident="Sequence Alignment"/>
								<valItem ident="Technology Preservation"/>
								<valItem ident="Topic Modeling"/>
								<valItem ident="Versioning"/>
								<valItem ident="Web Crawling"/>
								<valItem ident="Text Mining "/>
							</valList>
						</attDef>
						<attDef ident="source">
							<desc>The thesaurus used</desc>
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
							<defaultVal>TaDiRAH</defaultVal>
						</attDef>
						<attDef ident="type">
							<desc>The type of the term</desc>
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
							<defaultVal>technique</defaultVal>
						</attDef>
					</attList>
				</elementSpec>


				<!--Figure-->
				<elementSpec ident="figure">
					<desc>Image to i scenario</desc>
					<content>
						<sequence minOccurs="1" maxOccurs="1">
							<!--<elementRef key="fileDesc" minOccurs="1" maxOccurs="1" />-->
							<elementRef key="graphic"/>
							<elementRef key="figDesc"/>
							<elementRef key="licence"/>
						</sequence>
					</content>
				</elementSpec>
				
				

				<elementSpec ident="graphic">
					<content>
						<dataRef key="anyURI"/>
					</content>
				</elementSpec>

				<elementSpec ident="figDesc">
					<desc>Image caption</desc>
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<!-- Paragraphe -->
				<elementSpec ident="p" module="core" mode="change">
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<!-- persName -->
				<elementSpec ident="persName" module="namesdates">
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<!-- Only for step files 
				<elementSpec ident="listEvent">
					<content>
						<elementRef key="event" minOccurs="1" maxOccurs="1"/>
					</content>
					
					
				elementSpec>
				
				<elementSpec ident="listEvent">
					<content>
						<elementRef key="event" minOccurs="0" maxOccurs="unbounded"/>
					</content>
				</elementSpec>
				
				event
				<elementSpec ident="event">
					<attList>
						<attDef ident="ref">
							<desc>The step's reference</desc>
						</attDef>
						<attDef ident="type">
							<desc>The thesaurus used</desc>
							<defaultVal>researchStep</defaultVal>
						</attDef>
						<attDef ident="xml:id">
							<desc>Id of the step (the name of the file) without extension</desc>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="event">
					<content>
						<sequence>
							<elementRef key="head" minOccurs="1" maxOccurs="unbounded"/>
							<elementRef key="desc" corresp="definition" minOccurs="1"
								maxOccurs="unbounded"/>
							<elementRef key="desc" corresp="terms" minOccurs="1"
								maxOccurs="unbounded"/>
							<elementRef key="linkGrp" corresp="generalResources" minOccurs="0"
								maxOccurs="1"/>
							<elementRef key="linkGrp" corresp="projectResources" minOccurs="0"
								maxOccurs="1"/>
							<elementRef key="param" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
					</content>
					<attList>
						Only in scenario files
							<attDef ident="ref"/>
						
						
						<attDef ident="type">
							<defaultVal>researchStep</defaultVal>
						</attDef>
					</attList>
				</elementSpec>

				

				<elementSpec ident="linkGrp" corresp="generalResources">
					<content>
						<elementRef key="ref" minOccurs="0" maxOccurs="unbounded"/>
					</content>
					<attList>
						<attDef ident="type">
							<defaultVal>generalResources</defaultVal>
						</attDef>
					</attList>
				</elementSpec>

				<elementSpec ident="linkGrp" corresp="projectResources">
					<content>
						<elementRef key="ref" minOccurs="0" maxOccurs="unbounded"/>
					</content>
					<attList>
						<attDef ident="type">
							<defaultVal>projectResources</defaultVal>
						</attDef>
						<attDef ident="source"/>
						<attDef ident="target"/>
					</attList>
				</elementSpec>

				<elementSpec ident="param"/>

				

				

				







				<elementSpec ident="ref">
					<desc xml:lang="fr">URL</desc>
					<desc xml:lang="fr">URL</desc>
					<content>
						<textNode/>
					</content>
					<attList>
						<attDef ident="target" usage="req" mode="change">
							<desc xml:lang="fr">Lien vers la ressource (URL)</desc>
							<desc xml:lang="en">URL</desc>
							<datatype>
								<dataRef name="anyURI"/>
							</datatype>
						</attDef>
					</attList>
				</elementSpec>

				recordingStmt : recording et medias
				<elementSpec ident="sourceDesc" module="header" mode="change" n="1">
					<content>
						<elementRef key="p" minOccurs="1" maxOccurs="1"/>
					</content>
				</elementSpec>

				<elementSpec ident="persName" module="namesdates">
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="placeName" module="namesdates">
					<desc xml:lang="fr">Lieu</desc>
					<desc xml:lang="en">Place</desc>
					<content>
						<textNode/>
					</content>
				</elementSpec>

				<elementSpec ident="country" module="namesdates">
					<desc xml:lang="fr">Pays</desc>
					<desc xml:lang="en">Country</desc>
					<attList>
						 attribut ref= norme iso ISO 3366-1 => Indiquer le pays de recueil , donnée minimale en général connue, fr par défaut 
						<attDef ident="name" usage="req" mode="change" rend="fr"/>
					</attList>
				</elementSpec>

				<elementSpec ident="district" module="namesdates">
					<desc xml:lang="fr">Région</desc>
					<desc xml:lang="en">District</desc>
					<attList>
						<attDef ident="name" usage="rec" mode="change"/>
					</attList>
				</elementSpec>

				<elementSpec ident="settlement" module="namesdates">
					<desc xml:lang="fr">Ville</desc>
					<desc xml:lang="en">Town</desc>
					<attList>
						ref= norme TGN ? Indiquer la ville, village de recueil : référentiel Getty Thesaurus of Geographic Name / code UNECE des Nations Unies plus fin que le code postal
						<attDef ident="ref" usage="req" mode="change"/>
					</attList>
				</elementSpec>

				<elementSpec ident="p" module="core">
					<content>
						<textNode/>
					</content>
				</elementSpec>-->

			</schemaSpec>
		</body>
	</text>
</TEI>
